<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center space-y-4">
      <h3 class="text-md font-bold text-foreground">Events</h3>
      
      <!-- Search Input -->
      <div class="relative">
        <input type="text" [(ngModel)]="searchValue" (keyup.enter)="searchEvent.emit(searchValue)" id="search" class="peer block border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-primary" placeholder="Search Events" />
        <label for="search" class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300">Search</label>
      </div>
      
      <!-- Price Range Inputs -->
      <div class="flex space-x-3">
        <div class="relative w-1/2">
          <input type="number" [(ngModel)]="minPrice" id="minPrice" class="peer block border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-primary" placeholder="Min Price" />
          <label for="minPrice" class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300">Min Price</label>
        </div>
        <div class="relative w-1/2">
          <input type="number" [(ngModel)]="maxPrice" id="maxPrice" class="peer block border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-primary" placeholder="Max Price" />
          <label for="maxPrice" class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300">Max Price</label>
        </div>
      </div>
      
      <!-- Filter Button -->
      <button (click)="filterEvent.emit({minPrice, maxPrice})" class="rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-dark transition duration-300">Apply Filter</button>
    </div>

    <!-- Add Event Button -->
    <button [routerLink]="'/events/create'" class="rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-dark transition duration-300">Add Event</button>
  </div>

  <!-- Events Table -->
  <div class="overflow-x-auto">
    <table class="w-full table-auto">
      <thead class="text-xs uppercase text-muted-foreground">
        <tr>
          <th></th>
          <th class="py-3 pl-4 text-right">Event</th>
          <th class="py-3 pr-4 text-right">Categorie</th>
          <th class="py-3 pr-4 text-right">Participants</th>       
          <th class="py-3 pr-4 text-right">Address</th>
          <th class="py-3 pr-4 text-right">Local</th>
          <th class="py-3 pr-4 text-right">Event Date</th>
          <th class="py-3 pr-4 text-right">End Date</th>
          <th class="py-3 pr-4 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events" [event]="event" (deleteEvent)="deleteEvent.emit($event)" app-event-table-item class="border-b border-dashed border-border hover:bg-card transition-colors duration-200"></tr>
      </tbody>
    </table>
  </div>
</div>
