.container {
    display: flex;
    flex-direction: row;
}

.navigator {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
}

.buttons {
    margin-bottom: 10px;
    display: inline-flex;
}

button {
    background-color: #3c78d8;
    color: white;
    border: 0;
    padding: .5rem 1rem;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1px;
    transition: all 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

button:last-child {
    margin-right: 0;
}

button.selected {
    background-color: #1c4587;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

button:hover {
    background-color: #2f66c4;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}