<div class="users-container">
  <div class="users-card add-user-card">
    <app-alert [message]="message" [type]="alertType" (closeAlert)="closeAlert()"></app-alert>

    <div class="add-header">
      <h2 style="color: black; font-size: 30px; padding: 10px;">➕ Ajouter un match</h2>

      <button *ngIf="!showAddMatch" (click)="toggleAddMatch()" class="toggle-btn">➕ Nouveau</button>
      <button *ngIf="showAddMatch" (click)="closeAddMatch()" class="toggle-btn">✖️ Fermer</button>
    </div>

    <div *ngIf="showAddMatch" class="add-user-form animated">
      <form (ngSubmit)="onAddMatch()" #addMatchForm="ngForm">
        <div class="form-row">
          <div class="form-group">
            <label for="equipe1">Équipe 1</label>
            <select name="equipe1" [(ngModel)]="newMatch.idEquipe1" required class="form-control">
              <option *ngFor="let e of equipes" [value]="e.id">{{ e.nameEquipe }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="equipe2">Équipe 2</label>
            <select name="equipe2" [(ngModel)]="newMatch.idEquipe2" required class="form-control">
              <option *ngFor="let e of equipes" [value]="e.id">{{ e.nameEquipe }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="terrain">Terrain</label>
            <select name="terrain" [(ngModel)]="newMatch.idTerrain" required class="form-control">
              <option *ngFor="let t of terrains" [value]="t.id">{{ t.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="type">Type de match</label>
            <select [(ngModel)]="newMatch.type" name="type" class="form-control" required>
              <option value="">-- Sélectionner --</option>
              <option value="foot">Football</option>
              <option value="hand">Handball</option>
              <option value="basket">Basketball</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="startDate">Date de début</label>
            <input [min]="today" type="datetime-local" [(ngModel)]="newMatch.startDate" name="startDate" required
              class="form-control" />

            <label for="endDate">Date de fin</label>
            <input [min]="today" type="datetime-local" [(ngModel)]="newMatch.endDate" name="endDate" required class="form-control" />
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-save">✔️ Valider</button>
          <button type="button" class="btn btn-cancel" (click)="cancelAddMatch()">❌ Annuler</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Liste des matchs -->
  <div class="match-card">
    <div class="flex flex-row justify-between">
      <h2 style="color: black; font-size: 30px; padding: 10px;margin-bottom: 10px;">📅 Liste des matchs</h2>
      <div class="search-bar w-[220px] h-[45px] mt-3">
        <input type="text" [(ngModel)]="searchMatchTerm" placeholder="🔍 Rechercher un match..." class="form-control" />
      </div>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

    </div>

    <table class="table">
      <thead>
        <tr>
          <th (click)="sortMatchesBy('equipe1')" class="cursor-pointer">
            Équipe 1 <span>{{ getMatchSortIcon('equipe1') }}</span>
          </th>
          <th (click)="sortMatchesBy('equipe2')" class="cursor-pointer">
            Équipe 2 <span>{{ getMatchSortIcon('equipe2') }}</span>
          </th>
          <th (click)="sortMatchesBy('terrain')" class="cursor-pointer">
            Terrain <span>{{ getMatchSortIcon('terrain') }}</span>
          </th>
          <th>Type de match</th>
          <th (click)="sortMatchesBy('date')" class="cursor-pointer">
            Date <span>{{ getMatchSortIcon('date') }}</span>
          </th>
          <th (click)="sortMatchesBy('score')" class="cursor-pointer">
            Score <span>{{ getMatchSortIcon('score') }}</span>
          </th>
          <!--<th>Match joué</th> -->
          <th>Actions</th>
          <th>Statistiques</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of displayedMatches;">
          <!-- Équipe 1 -->
          <td>
            <div *ngIf="editMode[match.id]; else equipe1View">
              <select [(ngModel)]="editedMatch[match.id].idEquipe1" name="equipe1-{{ match.id }}" class="form-control">
                <option *ngFor="let equipe of equipes" [value]="equipe.id">{{ equipe.nameEquipe }}</option>
              </select>
            </div>
            <ng-template #equipe1View>
              <div class="flex items-center">
                <img *ngIf="getEquipeLogo(match.idEquipe1)" [src]="getEquipeLogo(match.idEquipe1)" alt="Logo"
                  class="w-8 h-8 object-cover rounded-full mr-2" />
                <span>{{ getEquipesName(match.idEquipe1) }}</span>
              </div>
            </ng-template>
          </td>

          <!-- Équipe 2 -->
          <td>
            <div *ngIf="editMode[match.id]; else equipe2View">
              <select [(ngModel)]="editedMatch[match.id].idEquipe2" name="equipe2-{{ match.id }}" class="form-control">
                <option *ngFor="let equipe of equipes" [value]="equipe.id">{{ equipe.nameEquipe }}</option>
              </select>
            </div>
            <ng-template #equipe2View>
              <div class="flex items-center">
                <img *ngIf="getEquipeLogo(match.idEquipe2)" [src]="getEquipeLogo(match.idEquipe2)" alt="Logo"
                  class="w-8 h-8 object-cover rounded-full mr-2" />
                <span>{{ getEquipesName(match.idEquipe2) }}</span>
              </div>
            </ng-template>
          </td>

          <!-- Terrain -->
          <td>
            <div *ngIf="editMode[match.id]; else terrainView">
              <select [(ngModel)]="editedMatch[match.id].idTerrain" name="terrain-{{ match.id }}" class="form-control">
                <option *ngFor="let terrain of terrains" [value]="terrain.id">{{ terrain.name }}</option>
              </select>
            </div>
            <ng-template #terrainView>{{ getTerrainName(match.idTerrain) }}</ng-template>
          </td>

          <!-- Type de match -->
          <td>
            <div *ngIf="editMode[match.id]; else typeView">
              <select [(ngModel)]="editedMatch[match.id].type" class="form-control">
                <option value="">-- Sélectionner --</option>
                <option value="foot">Football</option>
                <option value="hand">Handball</option>
                <option value="basket">Basketball</option>
              </select>
            </div>
            <ng-template #typeView>{{ match.type }}</ng-template> <!-- Affichage du type -->
          </td>

          <!-- Date -->
          <td>
            <div *ngIf="editMode[match.id]; else dateView">
              <input type="datetime-local" [(ngModel)]="editedMatch[match.id].startDate" name="editStartDate"
                class="form-control" />
            </div>
            <ng-template #dateView>{{ match.startDate | date: 'dd/MM/yyyy HH:mm' }}</ng-template>
          </td>

          <!-- Score -->
          <td>

            <div *ngIf="editMode[match.id]; else scoreView">
              <div class="d-flex justify-content-between mb-2">
                <!-- Score équipe 1 et équipe 2 -->
                <input type="number" [(ngModel)]="editedMatch[match.id].scoreEquipe1" name="score1-{{ match.id }}"
                  class="form-control mb-1" placeholder="Score équipe 1" min="0" />
                <span class="mx-2">-</span>
                <input type="number" [(ngModel)]="editedMatch[match.id].scoreEquipe2" name="score2-{{ match.id }}"
                  class="form-control mb-1" placeholder="Score équipe 2" min="0" />
              </div>

              <!-- Cartons jaunes et rouges pour chaque équipe -->
              <div class="cartons-container">
                <!-- Cartons Équipe 1 -->
                <div>
                  <label style="font-size: 0.8rem; font-weight: 500;">🟨 Équipe 1</label>
                  <input type="number" [(ngModel)]="editedMatch[match.id].cartonsJaunesEquipe1" min="0" max="11"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].cartonsJaunesEquipe1 > 11}" />
                  <div *ngIf="editedMatch[match.id].cartonsJaunesEquipe1 > 11" class="text-danger small">
                    Le nombre de cartons jaunes ne peut pas dépasser 11.
                  </div>

                  <label style="font-size: 0.8rem; font-weight: 500;">🟥 Équipe 1</label>
                  <input type="number" [(ngModel)]="editedMatch[match.id].cartonsRougesEquipe1" min="0" max="4"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].cartonsRougesEquipe1 > 4}" />
                  <div *ngIf="editedMatch[match.id].cartonsRougesEquipe1 > 4" class="text-danger small">
                    Le nombre de cartons rouges ne peut pas dépasser 4.
                  </div>
                </div>

                <!-- Cartons Équipe 2 -->
                <div>
                  <label style="font-size: 0.8rem; font-weight: 500;">🟨 Équipe 2</label>
                  <input type="number" [(ngModel)]="editedMatch[match.id].cartonsJaunesEquipe2" min="0" max="11"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].cartonsJaunesEquipe2 > 11}" />
                  <div *ngIf="editedMatch[match.id].cartonsJaunesEquipe2 > 11" class="text-danger small">
                    Le nombre de cartons jaunes ne peut pas dépasser 11.
                  </div>

                  <label style="font-size: 0.8rem; font-weight: 500;">🟥 Équipe 2</label>
                  <input type="number" [(ngModel)]="editedMatch[match.id].cartonsRougesEquipe2" min="0" max="4"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].cartonsRougesEquipe2 > 4}" />
                  <div *ngIf="editedMatch[match.id].cartonsRougesEquipe2 > 4" class="text-danger small">
                    Le nombre de cartons rouges ne peut pas dépasser 4.
                  </div>


                  <label style="font-size: 0.8rem; font-weight: 500;">🚫 Equipe1</label>
                  <input type="number" [(ngModel)]="editedMatch[match.id].fautesEquipe1" min="0" max="30"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].fautesEquipe1 > 30}" />
                  <div *ngIf="editedMatch[match.id].fautesEquipe1 > 30" class="text-danger small">
                    Le nombre de fautes ne peut pas dépasser 30.
                  </div>

                  <label style="font-size: 0.8rem; font-weight: 500;">🚫 Equipe2</label>

                  <input type="number" [(ngModel)]="editedMatch[match.id].fautesEquipe2" min="0" max="30"
                    class="form-control form-control-sm mb-1"
                    [ngClass]="{'is-invalid': editedMatch[match.id].fautesEquipe2 > 30}" />

                  <div *ngIf="editedMatch[match.id].fautesEquipe2 > 30 " class="text-danger small">
                    Le nombre de fautes ne peut pas dépasser 30.
                  </div>
                </div>
              </div>
            </div>



            <!-- Affichage des scores en lecture seule -->
            <ng-template #scoreView>
              {{ match.scoreEquipe1 === null ? '0' : match.scoreEquipe1 }}
              - {{ match.scoreEquipe2 === null ? '0' : match.scoreEquipe2 }}
            </ng-template>
          </td>


          <!-- Match joué -->
          <!--<td>
            <input type="checkbox" [(ngModel)]="match.matchJoue"
              [checked]="match.scoreEquipe1 !== null && match.scoreEquipe2 !== null"
              [disabled]="match.scoreEquipe1 !== null && match.scoreEquipe2 !== null" />
          </td>-->

          <!-- Actions -->
          <td class="actions-col w-[130px] text-right pr-4">
            <!-- Bouton Modifier (icône) -->
            <button class="btn btn-icon mr-1" *ngIf="!editMode[match.id]" (click)="editMatch(match)"
              [disabled]="match.matchJoue && match.scoreEquipe1 !== null && match.scoreEquipe2 !== null"
              title="Modifier">

              <i class="fas fa-edit text-xl transition duration-200" [ngClass]="{
           'text-yellow-600 hover:text-yellow-800': !(match.matchJoue && match.scoreEquipe1 !== null && match.scoreEquipe2 !== null),
           'text-gray-400 cursor-not-allowed': match.matchJoue && match.scoreEquipe1 !== null && match.scoreEquipe2 !== null
         }">
              </i>

            </button>

            <!-- Bouton Enregistrer -->
            <button *ngIf="editMode[match.id]"
              class="btn p-1 text-xs flex justify-center items-center border rounded-full border-green-600"
              (click)="saveMatch(match.id)" title="Enregistrer">
              <i class="fas fa-check text-green-600 text-sm p-1 border rounded-full border-green-600"></i>
            </button>
            <!-- Bouton Annuler -->
            <button *ngIf="editMode[match.id]"
              class="btn p-1 text-xs flex justify-center items-center border rounded-full border-yellow-500"
              (click)="cancelEdit(match.id)" title="Annuler">
              <i class="fas fa-arrow-left text-yellow-500 text-sm p-1 border rounded-full border-yellow-500"></i>
            </button>
            <!-- Bouton Supprimer (icône poubelle rouge) -->
            <button *ngIf="!editMode[match.id]" class="btn btn-icon ml-1" (click)="deleteMatch(match.id)"
              title="Supprimer">
              <i class="fas fa-trash text-red-600 text-xl hover:text-red-800 transition duration-200"></i>
              <!-- Icône "poubelle" -->
            </button>

          </td>
          <td>
            <button (click)="openStats(match)" class="btn btn-icon ml-1">📊 Voir Statistiques</button>
          </td>

          <!-- Popup de stats (hors du tableau) -->
          <app-stat-equipes *ngIf="selectedMatch" [match]="selectedMatch" (close)="closeStats()">
          </app-stat-equipes>

      </tbody>

    </table>
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-button">
        ◀
      </button>

      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button (click)="goToPage(i + 1)" [class.active]="currentPage === i + 1" class="pagination-button">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">
        ▶
      </button>
    </div>
  </div>
</div>