<div *ngIf="message" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-5 w-full max-w-sm p-4 rounded-lg shadow-lg"
     [ngClass]="{
       'bg-green-700': type === 'success',
       'bg-red-700': type === 'error'
     }">
  <div class="flex items-center justify-between">
    <div class="text-white font-semibold">
      {{ message }}
    </div>
    <button (click)="close()" class="text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</div>
