<div class="modal-backdrop">
  <div class="modal-content">
    <h2>📊 Statistiques du Match</h2>

    <!-- Graphique Bar pour Cartons -->
    <canvas #barCanvas></canvas>
    <!-- Graphique Bar pour Fautes -->
    <canvas #fautesCanvas></canvas>


    <div class="score">
      <p>
        <!-- <strong>Score :</strong> -->
        {{ getEquipesName(match?.idEquipe1) }} {{ match?.scoreEquipe1 }} - {{ match?.scoreEquipe2 }} {{
        getEquipesName(match?.idEquipe2) }}
      </p>

    </div>


    <button class="btn-close" (click)="onClose()">Fermer</button>
  </div>
</div>