<!-- Card -->
<div
  class="flex h-[420px] flex-col rounded-lg bg-background p-8"
>
  <!-- Image -->
  <div
    [ngStyle]="{ 'background-image': 'url(' + produit.imageUrl + ')' }"
    class="produit-image h-[240px] cursor-pointer rounded-md bg-cover transition duration-300 ease-in-out"
    >
  </div>

  <!-- Description  -->
  <h2 class="text-md mt-6 font-semibold text-foreground">{{ produit.nom }}</h2>
  <p class="text-sm text-muted-foreground mt-1 line-clamp-2">{{ produit.description }}</p>

  <div class="flex items-end justify-between text-sm font-semibold text-muted-foreground mt-2">
    Stock: {{ produit.quantiteEnStock }}
    <span>{{ produit.prix | currency:'DT' }}</span>
  </div>

  <!-- Buttons -->
  <div class="mt-6 flex items-center justify-between">
    <button
      class="hover:bg-primary-600 flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground"
    >
      Ajouter au panier
    </button>
    <button
      class="flex-none rounded-md bg-card px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:bg-muted hover:text-foreground"
    >
      Voir le produit
    </button>
  </div>
</div>

<style>
  /* Effet zoom doux + éclaircissement sur la div background image */
  .produit-image {
    transition: transform 0.3s ease, filter 0.3s ease;
    will-change: transform, filter;
  }
  .produit-image:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
</style>
