.card {
  background-color: #333;
  color: white;
  border-radius: 8px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-content {
  flex: 1 1 75%;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

/* Button container */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Delete Button Style */
.delete-button {
  font-weight: bold;
  color: white;
  background-color: #d32f2f;
  display: flex;
  align-items: center;
  gap: 6px;
  height: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #b71c1c;
  }
}

/* Update Button Style */
.update-button {
  font-weight: bold;
  color: white;
  background-color: #1976d2;
  display: flex;
  align-items: center;
  gap: 6px;
  height: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #115293;
  }
}

mat-icon {
  font-size: 20px;
}
